     {% for job in jobs %}
      
      <div class="job-preview">        
        <div class="job_title-div">
         {{job['Job-title']}} 
        </div> 
        <div class="location-div">
          <b>Location:</b> {{job['location']}}
        </div>
        {% if 'salary' in job %}
        <div class="salary-div">
          <b>Salary:</b> {{job['salary']}}
        </div>
        {% endif %}
      </div>
      <div class="Apply-button-div">
        <a href="/job/{{job['Id']}}" class="Apply-button">
          Apply
        </a>
      </div>
       {% endfor %}  

       